<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Route every request through iisnode -->
    <handlers>
      <add name="iisnode"
           path="server.js"
           verb="*"
           modules="iisnode"
           scriptProcessor="%programfiles%\nodejs\node.exe"
           resourceType="Unspecified" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="SendToNode" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <iisnode loggingEnabled="true"
             devErrorsEnabled="false"
             maxNamedPipeConnectionRetry="10"
             node_env="production"
             nodeProcessCommandLine="%programfiles%\nodejs\node.exe server.js"
             flushResponse="true"
             monitorChangesToWebConfig="true"
             asyncCompletionThreadCount="0"
             gracefulShutdownTimeout="60000"
             debuggingEnabled="false"
             logsDirectory="logs" />

    <!-- Enable CORS for the React SPA (localhost) and the production domain -->
    <cors enabled="true" failUnlistedOrigins="true">
      <add origin="http://localhost:5173" allowCredentials="true">
        <allowHeaders allowAllRequestedHeaders="true" />
        <allowMethods>
          <add method="*" />
        </allowMethods>
      </add>
      <add origin="https://edusupernova.com" allowCredentials="true">
        <allowHeaders allowAllRequestedHeaders="true" />
        <allowMethods>
          <add method="*" />
        </allowMethods>
      </add>
      <add origin="http://edusupernova.com" allowCredentials="true">
        <allowHeaders allowAllRequestedHeaders="true" />
        <allowMethods>
          <add method="*" />
        </allowMethods>
      </add>
    </cors>
  </system.webServer>
</configuration>
