<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="mysite">
                    <match url="/*" />
                    <action type="Rewrite" url="server.js" />
                </rule>
            </rules>
        </rewrite>
        <cors enabled="true" failUnlistedOrigins="true">
            <add origin="https://edusupernova.com" allowCredentials="true">
                <allowHeaders allowAllRequestedHeaders="true" />
                <allowMethods>
                    <add method="*" />
                </allowMethods>
            </add>
            <add origin="http://edusupernova.com" allowCredentials="true">
                <allowHeaders allowAllRequestedHeaders="true" />
                <allowMethods>
                    <add method="*" />
                </allowMethods>
            </add>
        </cors>
        <!-- Please uncomment the following line to monitor file changes in your application. -->
        <!-- <iisnode watchedFiles="*.js;node_modules\*;routes\*.js;views\*;middleware\*.js;controllers\*.js;models\*.js" /> -->
    </system.webServer>
</configuration>
